extends ../layout

block content
  h1 Edit User
  div
    form(method="POST" action=`/users/${user.id}`)
      include _form
        input(type="hidden", name="_method", value="PUT")
        p
          input(type="submit" value="Update")
  a(href=`/users/${user.id}`) Cancel
